.board-list {
  padding-top: 10px;
  height: calc(95% - 36px);
  width: 50%;
  left: 25%;
}

@media only screen and (max-width: 768px) {
  .board-list {
    padding-top: 0;
    width: 100%;
    left: 0;
  }
}

.mat-toolbar-single-row {
  height: 36px;
  margin-bottom: 10px;
}

.score {
  margin: 0 auto;
}
