.board-list {
  height: calc(95% - 36px);
  width: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .board-list {
    width: 95%;
  }
}

.mat-toolbar-single-row {
  height: 36px;
  margin-bottom: 10px;
}

.score {
  margin: 0 auto;
}
